/* Reset some default styles */
body, h1, p {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Raleway', sans-serif;
  background-color: #f0f0f0;
}
header > h1{
  font-size: 35px;
  text-decoration: underline;
}
header > h1::first-letter {
  font-size: 150%; /* Adjust the size as needed */
}
header > h4::first-letter {
  font-size: 150%; /* Adjust the size as needed */
}

header {
  text-align: center;
  font:'Playfair Display',serif;
  background-color: black;
  color: #fff;
  padding: 10px;
  padding-bottom: 0px;
}

main {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: black;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
div > h3{
  text-align: center;
  font-family:"Odibee Sans",sans-serif;
  background-color: white;
  color: black;
  padding: 15px;
  font-size: 30px;
}

section{
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  font-weight: bold;
  line-height: 1.6;
  text-align: center;
  margin-top: 20px;
}
section > .nostalgia{
  color: #d4a0a7;
  font-style: italic;
}
section > .comfort{
  font-family:"Alegreya Sans SC",sans-serif;
  color: #98ff98;
}
section > .melancholy{
  color: #708090;
  font-style: italic;

}
section > .resignation{
  color: #6B8E23;
  font-style: italic;
}
section > .dedication{
  color: #4169E1;
  font-style: italic;

}
section > .confusion{
  color: #90a4ae;
  font-style: italic;
}

section > p:hover {
  font-size: 22px; /* Increase the font size by 2 pixels on hover */
  color:#f0f0f0;
}

section > p:hover::first-letter {
  font-size: 150%; /* Adjust the size as needed */
}

footer {
  text-align: center;
  background-color: black;
  color: #fff;
  padding: 10px;
}
